html{
    background-image:url();
    background-color:white;
      font-family: Arial, Helvetica, sans-serif;
      background:linear-gradient(-45 )
}
body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7fbfc+0,d9edf2+40,add9e4+100;Blue+3D+%231 */
background: rgb(247,251,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 ); /* IE6-9 */

text-align:center ;
color:black;
padding-bottom: 10%;

}
h1 {
    text-align: center;
}
form{
    width: 100%;

}

input{
    width: 300px;
}
select {
    width: 300px;
}
#subject::-ms-clear {
    width: 300px;

  }
  textarea{
      width: 300px;
  }


